
form{
    margin: 2em;
    display: flex; 
    justify-content: center;
    align-content: center;

}
fieldset{
    width: 70%;
}

.formulario{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1em;
    padding: 1.5em;
}
legend{
    margin-left: 2em;
}
input:not(.boton), textarea, select{
    width: 70%;
    margin: .3em 0 ;
    padding: 1em 0em 1em 1em;
    border-radius: .5em;
    border: 1px solid lightgray;
}
label{
    width: 70%;
}
.boton{
    margin: .5em;
    padding: .5em;
}
#foto{
    border: none;
}
label{
    margin-top: 1em;
}